* {
  padding: 0;
  margin: 0;
}

/* background-color: #f2f2f2; */
header {
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
  padding: 20px;
  max-width: 800px;
}
#logo {
  max-height: 90%;
}
input[type="text"] {
  margin-top: 30px;
  min-height: 35px;
  padding-left: 10px;
  width: 380px;
  border-radius: 5px;
  font-size: 15px;
}
input::placeholder{
  color: #808080;
  font-size: 15px;
}
/* Product Photos */
.grid {
  display: grid;
  max-width: 1200px;
  margin: 40px auto;
  margin-bottom: 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 25px;
  justify-items: center;
}
.grid img {
  max-width: 95%;
}


/* Media Queries */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid img {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid img {
    max-width: 90%;
  }
  input[type="text"] {
    width: 300px;
  }
  #logo {
    height: 70%;
  }
}
