* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Header NAVBAR */
header {
  height: auto;
  background-color: #f2f2f2;
}
nav {
  height: 10vh;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-search {
  width: 50%;
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: space-between;
}
#logo {
  max-width: 9vh;
  height: auto;
  flex-basis: 35%;
  border-radius: 35%;
}
#search-bar {
  font-size: 16px;
  flex-basis: 60%;
  padding-left: 10px;
  color: #696969;
  /* width: 310px; */
  border-radius: 5px;
  border: 2px solid gray;
  height: 44px;
}
::placeholder {
  color: grey;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
}
.links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
}
#catalog {
  order: -1;
}
.links a {
  color: grey;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 13px;
}
.links a:hover {
  color: #8FBC8F;
}
.links a:focus {
  background-color: white;
  color: #8FBC8F;
  padding: 13px;
  border-radius: 40px;
}

/* input[type="text"] {
  margin-top: 30px;
  min-height: 35px;
  padding-left: 10px;
  width: 380px;
  border-radius: 5px;
  font-size: 15px;
}
input::placeholder{
  color: #808080;
  font-size: 15px;
} */
nav a {
  /* flex-grow: 1; */
}

/* Product Photos */
.grid-container {
  display: grid;
  max-width: 1100px;
  margin: 50px auto;
  margin-bottom: 10vh;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  justify-items: center;
  height: auto;
}
.grid-container div {
  /* max-width: auto;
  height: auto; */
  height: auto;
}
.grid-container img {
  max-width: 100%;
  height: auto;
}
/* .grid-container p {
  max-width: 80%;
  padding: 10px;
  text-align: justify;
} */
div h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  height: auto;
}
div p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 10px;
  height: auto;
}

/* Inicio div */
.section-inicio {
  max-width: 1000px;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

/* Contacto*/
.contact-section {
  max-width: 1000px;
  height: 50vh;
  margin: 0 auto;
}

/* Media Queries */
@media (max-width: 1024px) {

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 600px) {

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
  }

}
