* {
  padding: 0;
  margin: 0;
}
header {
  /* background-color: #f2f2f2; */
}
header .container {
  margin: 50px auto;
  max-width: 800px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo {
  max-height: 100%;
  /* border-radius: 50%; */
}
input[type="text"] {
  color: #f2f2f2;
  height: 200px;
  width: 400px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 20px;
  /* border: none; */
}
.grid {
  display: grid;
  max-width: 1200px;
  margin: 40px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 25px;
  justify-items: center;
}
.grid img {
  max-width: 95%;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid img {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid img {
    max-width: 90%;
  }
}
